@font-face {
    font-family: 'Rubik';
    src: url('./assets//fonts/Rubik-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Rubik-italic';
    src: url('./assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
}
:root {
    --light-text-color: hsl(216, 25%, 25%);
    --light-secondary1-text-color: hsl(219, 13%, 44%);
    --light-secondary2-text-color: hsl(0, 0%, 100%);
    --light-btn-background-color: hsl(277, 91%, 56%);
    --light-option-background-color: hsl(220, 38%, 97%);

    --dark-text-color: hsl(0, 0%, 100%);
    --dark-secondary1-text-color: hsl(216, 47%, 78%);

    --html-logo-background-color: hsl(22, 100%, 96%);
    --css-logo-background-color: hsl(151, 87%, 94%);
    --javascript-logo-background-color: hsl(223, 100%, 96%);
    --accessibility-logo-background-color: hsl(277, 100%, 95%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.container {
    background-color: hsl(223, 100%, 94%);
    background-image: url('./assets/images/pattern-background-mobile-light.svg');
    background-size: cover;
}
.container.dark {
    background-color: hsl(216, 27%, 32%);
    background-image: url('./assets/images/pattern-background-mobile-dark.svg');
    color: var(--dark-text-color);
}
.body {
    max-width: 450px;
    min-height: 100vh;
    padding: 16px 24px;
    margin: 0 auto;
}
img {
    display: block;
}
.header-tag__img, 
.startpage-option__logo {
    padding: 8px;
    border-radius: 5px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    gap: 16px;
}


.header-tag {
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 16px;
}
.header-tag__img {
    background-color: var(--accessibility-logo-background-color);
}
.header-tag__text {
    font-size: 1.2rem;
    font-weight: 500;
}


.toggle-container {
    display: flex;
    gap: 8px;
    align-items: center;
}
.toggle-btn {
    background-color: var(--light-btn-background-color);
    width: 50px;
    height: 30px;
    padding: 7px;
    border-radius: 999px;
    cursor: pointer;
}
.toggle-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--light-secondary2-text-color);
}


.startpage-intro {
    font-weight: 300;
    margin-block-end: 16px;
}
.startpage-intro .intro-highlight {
    display: block;
    font-weight: 500;
}
.startpage-text {
    font-size: 0.9rem;
    font-family: 'Rubik-italic', sans-serif;
    color: var(--light-secondary1-text-color);
    margin-block-end: 40px;
}
.dark .startpage-text {
    color: var(--dark-secondary1-text-color);
}


.quiz-option:hover .quiz-option__tag {
    background-color: hsl(277, 91%, 94%);
    color: var(--light-btn-background-color);
}
.startpage-option:active, .quiz-option:active {
    outline: 2px solid var(--light-btn-background-color);
    outline-offset: 4px;
}


.startpage-options, .quiz-options {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.startpage-option, .quiz-option {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--light-secondary2-text-color)
}
.dark .startpage-option, 
.dark .quiz-option {
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
}
.startpage-option__text, .quiz-option__text {
    font-size: 1.2rem;
    font-weight: 500;
}
.html {
    background-color: var(--html-logo-background-color);
}
.css {
    background-color: var(--css-logo-background-color);
}
.javascript {
    background-color: var(--javascript-logo-background-color);
}
.accessibility {
    background-color: var(--accessibility-logo-background-color);
}


.quiz-text {
    font-family: 'Rubik-italic', sans-serif;
    font-size: 0.9rem;
    margin-block-end: 12px;
}
.dark .quiz-text {
    color: var(--dark-secondary1-text-color);
}
.quiz-question {
    font-size: 1.25rem;
    font-weight: 500;
    margin-block-end: 24px;
}
.quiz-visualNum__container {
    margin-block-end: 40px;
    background-color: var(--light-secondary2-text-color);
    padding: 6px;
    border-radius: 999px;
}
.dark .quiz-visualNum__container {
    background-color: var(--light-text-color);
}
.quiz-visualNum {
    height: 8px;
    width: 50%;
    background-color: var(--light-btn-background-color);
    border-radius: 999px;
}
.quiz-option__tag {
    color: var(--light-secondary1-text-color);
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--light-option-background-color);
    padding: 11px 17px;
    border-radius: 6px;
}
.quiz-submit, .quiz-complete__btn {
    width: 100%;
    background-color: var(--light-btn-background-color);
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-secondary2-text-color);
    margin-block-start: 12px;
}
.quiz-submit:hover, .quiz-complete__btn:hover {
    background-color: hsl(277, 91%, 46%);
}
.quiz-option__logo {
    margin-inline-start: auto;
}


.error {
    /* visibility: hidden; */
    margin-block-start: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.error-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: hsl(0, 82%, 63%)
}
.dark .error-text {
    color: var(--light-secondary2-text-color);
}


.result h1 {
    font-size: 2.5rem;
    font-weight: 300;
}
.result h2 {
    font-size: 2.5rem;
    font-weight: 500;
}
.result-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 32px;
    background-color: var(--light-secondary2-text-color);
    border-radius: 12px;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    margin: 40px 0 12px;
}
.dark .result-container {
    background-color: var(--light-text-color);
}
.result-score {
    font-size: 5.5rem;
    font-weight: 500;
}
.result-total {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light-secondary1-text-color);
}
.dark .result-total {
    color: var(--dark-secondary1-text-color);
}


/* 
    className for selection -> 'selected'
*/
.quiz-option.selected {
    border: 3px solid var(--light-btn-background-color);
}
.quiz-option.selected .quiz-option__tag {
    background-color: var(--light-btn-background-color);
    color: var(--light-secondary2-text-color);
}

/* 
    className for correct answer -> 'correct'
*/
.quiz-option.correct {
    border: 3px solid hsl(120, 100%, 50%);
}
.quiz-option.correct .quiz-option__tag {
    background-color: hsl(120, 100%, 50%);
    color: var(--light-secondary2-text-color);
}

/* 
    className for wrong answer -> 'wrong'
*/
.quiz-option.wrong {
    border: 3px solid hsl(0, 100%, 50%);
}
.quiz-option.wrong .quiz-option__tag {
    background-color: hsl(0, 100%, 50%);
    color: var(--light-secondary2-text-color);
}

/* 
    className for correct but not selected -> 'correct-not-selected'
*/


@media (min-width: 500px) {
    html {
        font-size: 20px;
    }
    .container {
        background-image: url('./assets/images/pattern-background-tablet-light.svg');
        background-size: cover;
    }
    .dark.container {
        background-image: url('./assets/images/pattern-background-tablet-dark.svg');
    }
    .body {
        max-width: 750px;
        width: 100%;
    }
}

@media (min-width: 770px) {
    html {
        font-size: 20px;
    }
    .container {
        background-image: url('./assets/images/pattern-background-desktop-light.svg');
    }
    .dark.container {
        background-image: url('./assets/images/pattern-background-desktop-dark.svg');
    }
    .body {
        max-width: 1110px;
    }
    .flex-body {
        width: 45%;
    }

    .quizpage, 
    .startpage,
    .result {
        display: flex;
        justify-content: center;
        gap: 10%;
    }

    .quiz-visualNum__container {
        margin-block-start: 5rem;
    }

    .startpage-text {
        margin-block-start: 3rem;
    }
}
